.board {
  max-width: 70vh;
  max-width: 70dvh;
  max-height: 70vh;
  max-height: 70dvh;
  margin: 1rem auto;
}

.container {
  min-height: 100vh;
  min-height: 100dvh;
  width: 100%;
  background: white;
}
